/node_modules
/public/hot
/public/storage

/public/uploads
/storage/*.key
/.idea
/.vagrant
/storage/*.key
/vendor
.env
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/vendor

/public/uploads
/.idea
/.vagrant
